* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container { 
    background-color: white;
    width: 80%;
    margin: 40px auto;
    border-radius: 9px;
}

body {
    background-color: #f6f8f9;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: white;
    padding: 12px;
}

.logo{
    display: inline-block;
    width: 75px;
    vertical-align: middle;
    margin: 10px 10px 10px 20px;
}

.testo-logo {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    font-size: 48px;
    font-weight: 800;
}
.intestazione{
    padding: 25px 40px;
    border-bottom: 2px solid #f6f8f9;
}

.lista-task {
    padding: 40px 40px;
}

.add {
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    text-decoration: none;
}
.task {
    background-color: #47adf1;
    border: 1px #47adf1;
}

.section {
    color: #e0e3e5;
    background-color: white;
    border: 1px solid  #e0e3e5;
}

hr {
    color: #d3d8dc;
}

.freccia {
    font-size: 24px;
}

.new-task {
    color: #464a53;
    margin: 50px 50px;
    list-style-type: none;
    font-size: 26px;
    font-weight: 700;
}

.subtitle {
    font-size: 22px;
    font-weight: 500; 
    display: inline-block;   
}

.sottolista {
    list-style-type: none;
    margin: 20px 0px 20px 0px;
}

.check {
    color: #95d5c6;
    margin-right: 10px;
}

.cross {
    color: #eb5953;
    margin-right: 10px;
}

.circle{
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}

.green {
    border: 1px solid  #95d5c6;
}

.red {
    border: 1px solid #eb5953;
}

.button {
    font-size: 18px;
    margin: 20px 0px 0px 20px;
    color: white;
    padding: 7px 15px;
    border-radius: 25px;
    text-decoration: none;

}

.editorial {
    background-color: #47adf1;
    border: 1px #47adf1;
}

.q1-goals {
    background-color: #9c72e4;
    border: 1px #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
    border: 1px #64c0a9;
}

.mobile {
    background-color: #f29e33;
    border: 1px #f29e33;
}

.website {
    background-color: #d863a1;
    border: 1px #d863a1;
}

.sales {
    background-color: #b0c926;
    border: 1px #b0c926;
}
